<html lang="en">

<head>
    <title>About</title> -->
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body class="blue-background">
    <div class="main-content center_p">
        {{>header}}
        <p>This site was created by Tyrone Oldham aka RevHam1. This app uses data from mapbox.com and
            darksky.net. The purpose of this site is to provide the user with a simple weather app. This weather app can
            be used to find weather conditions for practically any location, locally or remotely.
        </p>
        <p>Currently you are on the 'About' page. Choose the help tag for instruction on how to use this site. Choose
            the weather tag to enter a location.
        </p>
        {{!-- <img class="portrait" src="/img/me2.png" /> --}}
    </div>

    {{>footer}}
</body>

</html>