body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.index-background {
  position: relative;
  background: url("../img/background3.jpg") no-repeat center center/cover;
  height: 100vh;
}

.blue-background {
  position: relative;
  background: url("../img/blue2.jpg") no-repeat center center/cover;
  height: 100vh;
}

header {
  text-align: center;
}

header a {
  color: #888888;
  margin-right: 20px;
  font-size: 18px;
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  /* font-size: 16px; */
  color: yellow;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px, solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

.center_p {
  font-size: 16px;
  text-align: center;
  color: black;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px;
}

/* .portrait {
  width: 250px;
  border-radius: 50%;
} */
